---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const { user } = Astro.locals;
---

<Layout title="Welcome to Astro.">
    <main>
        {
            user ? (
                <div>
                    <p>{JSON.stringify(user)}</p>
                    <form method="post" action="/api/logout">
                        <button>Sign out</button>
                    </form>
                </div>
            ) : (
                <div>
                    <a href="/login">Login</a>
                </div>
            )
        }
    </main>
</Layout>
